$mainFontFamily: 'Roboto',
sans-serif;
$headerFontFamily: 'Montserrat',
sans-serif;

$primaryColor: #000000;
$secondaryColor: #ffffff;

$primaryTextColor: #6f6f6f;

$deliveryBackgroundColor: #f7f7f7;

$testimonialBoxColor: #ffffff;
$testimonialBackgrundColor: #f7f7f7;

$projectBackgroundColor: #f7f7f7;
$projectPrimaryColor: #000000;
$projectIconColor: #ffffff;
$projectSecondaryIconColor:#f7f7f7;
$projectPhotoOverlayColor: #ff214f;

$contactBackroundColor:#212529;

$navigationBackgroundColor: #000;
$navFirstTextColor: rgba(255, 255, 255, 0.6);
$navSecondTextColor: #fff;